body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.task1 {
    background-color: #eee;
}
.task2 {
    background-color: rgb(212, 209, 209);
}
.padding-site {
    margin: 0 auto;
    max-width: 50%;

    min-height: auto;
    padding: 20px 50px 40px;
    text-align: justify;
}

#result {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 500px;
    background-image: url(wood2.jpg);
    font-size: 26px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}